@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    background: #191919;
}

.social-media-div {
    width: 1170px;
    margin: 0 auto;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.social-media-div div a {
    text-decoration: none;
}

.social-media-div .social-icons a {
    margin: 0 6px;
}

.social-media-div .social-icons a {
    margin: 0 0px;
}

/* .signin-and-language a span {
    font-size: 12px;
    font-weight: 700;
}

.signin-and-language a:nth-child(1) i {
    font-size: 14px;
    background-color: black;
    color: white;
}

.signin-and-language a:nth-child(1) span {
    margin-left: 2px;
}

.signin-and-language a:nth-child(2) i {
    background: white;
    color: black;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 13px;
} */